---
import Meta from "../components/Meta";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<Meta title="Ryan James, Designer and Developer" description="Ryan James is a multidisciplinary designer and developer from Seattle, Washington." />
	</head>
	<body>
		<slot />
	</body>
</html>