<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-light.svg" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/svg+xml" href="/favicon-dark.svg" media="(prefers-color-scheme: dark)">
		<meta name="generator" content={Astro.generator} />
		<title>Ryan James - Designer and Developer</title>
		<meta name="description" content="Ryan James - Designer and Developer" />
	</head>
	<body>
		<slot />
	</body>
</html>